* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    min-width: 960px;
}

.maket {
    width: 1260px;
    height: 20px;
    background-color: #ccc;
    margin: 0 auto;
}

.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}


/* ..............................................Хэдер и Футер.............................................*/

header {
    background-color: #ffcd34;
    font-size: 0;
}

footer {
    background-color: #202e3b;
}

.header-logo,
.footer-logo {
    display: inline-block;
    line-height: 75px;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin-right: 115px;
}

.footer-logo {
    margin-right: 106px;
}

.header-logo img,
.footer-logo img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
}

.main-menu {
    margin: 0;
}

.main-nav {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding-right: 0;
}

.main-menu>li {
    display: inline-block;
    line-height: 75px;
    margin: 0;
    font-size: 16px;
    color: #000;
    margin-right: 4px;
}

footer .main-menu>li {
    margin-right: 0px;
}

.main-menu li:last-child {
    margin-right: 0px;
    margin-left: 8px;
}

.main-menu a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid transparent;
    line-height: 0;
    padding: 20px 15px 15px;
}

.main-menu a:hover {
    border: 2px solid #bc9d36;
}

.main-menu a:focus {
    border: 2px solid #796e38;
}

footer .main-menu a:hover {
    border: 2px solid #636d76;
}

footer .main-menu a:focus {
    border: 2px solid #a6abb1;
}

.main-menu>li:last-child>a {
    padding: 20px 33px 18px 27px;
}

.btn-call {
    background-color: #ffe184;
}

.btn-call:hover {
    background-color: #ffecb2;
}

.btn-call:focus {
    background-color: #f6bf16;
}

.page-footer a {
    color: #fff;
}

.page-footer span,
.page-footer .btn-call {
    color: #ffcd34;
}

.page-footer .btn-call {
    background-color: transparent;
}


/*..............................................................................................................
.................................................Основная часть...............................................*/

.promo {
    background-image: url("../img/1390641675_ekskavator-gusenichnyy-hyundai-380.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding-top: 140px;
    text-align: center;
    padding-bottom: 135px;
}

.promo:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 14px;
    background-image: linear-gradient(135deg, #ffcd34 35%, black 35%, black 60%, #FFCD34 60%);
    background-size: 20px 18px;
}

.promo:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(135deg, #ffcd34 35%, black 35%, black 60%, #FFCD34 60%);
    background-size: 20px 18px;
}

.promo-title {
    width: 615px;
    margin: 0 auto;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
}

.promo p {
    margin-top: 0;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0;
    margin-bottom: 8px;
}

.btn-catalog {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border: 2px solid #ffcd34;
    font-size: 18px;
    position: relative;
    width: 220px;
    height: 45px;
    padding-top: 6px;
    padding-left: 15px;
    text-align: left;
}

.btn-catalog:hover {
    border: 2px solid #ffd966;
}

.btn-catalog:hover {
    border: 2px solid #ffe390;
}

.btn-catalog:before {
    content: "";
    top: 11px;
    right: 27px;
    position: absolute;
    width: 13px;
    height: 19px;
    background-image: url("../img/Forma%201.png");
}

.call {
    background-color: #202e3b;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 0;
}

.call p {
    color: #ffcd34;
    margin: 0 0 40px 0;
    font-size: 24px;
}

.call input {
    border: 2px solid #ffcd34;
    width: 220px;
    height: 45px;
    margin-right: 20px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    padding-left: 20px;
}

.call input:focus {
    outline: 0;
}

.call input[type=submit] {
    background-color: #ffcd34;
    margin-right: 0;
    font-size: 18px;
    color: #000;
    padding: 0;
}

.call input[type=submit]:hover {
    background-color: #ffd966;
    cursor: pointer
}

.call input[type=submit]:focus {
    background-color: #ffd966;
}

.call input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.call input:-moz-placeholder {
    color: #fff;
    font-size: 16px;
}

.call input:-ms-placeholder {
    color: #fff;
    font-size: 16px;
}

.about {
    background-color: #fff;
    padding: 47px 0;
}

.about .container {
    font-size 0;
}

.column {
    display: inline-block;
    width: 225px;
    vertical-align: middle;
    margin: 0;
    margin-right: 23px;
    font-size: 13px;
    line-height: 16px;
}

.column p {
    position: relative;
    padding-left: 63px;
    margin: 0;
}

.column-1 p:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 42px;
    height: 40px;
    background-image: url("../img/Rectangle%201%20copy.png");
    background-repeat: no-repeat;
}

.column-2 p:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url("../img/Ellipse_1.png");
    background-repeat: no-repeat;
}

.column-3 p:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 42px;
    height: 40px;
    background-image: url("../img/Rounded_Rectangle_1_copy.png");
    background-repeat: no-repeat;
}

.column-4 p:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 42px;
    height: 40px;
    background-image: url("../img/Rounded_Rectangle_1_copy_2.png");
    background-repeat: no-repeat;
}

.column-4 {
    margin-right: 0;
    margin-left: -5px;
    width: 184px;
    padding-left: 5px;
}

.column-4 p {
    padding-left: 50px;
}

.technic {
    background-color: #f3f3f3;
    font-size: 0;
    padding-top: 30px;
}

.technic h2 {
    margin: 0;
    font-size: 26px;
}

.technic-menu {
    display: inline-block;
    vertical-align: top;
    width: 241px;
    padding: 0;
    margin: 0;
}

.technic-menu ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 45px;
}

.technic-menu li {
    list-style: none;
}

.technic-menu a {
    font-size: 16px;
    color: #202e3b;
    line-height: 38px;
}

.technic-price {
    display: inline-block;
    vertical-align: top;
    width: 695px;
    padding: 0;
    margin: 0;
}

.technic-price table {
    margin-top: 30px;
    border-collapse: collapse;
}

.technic-price th {
    font-size: 16px;
    background-color: #dfdfdf;
    height: 36px;
    text-align: left;
}

.technic-price td {
    height: 36px;
    font-size: 16px;
}

.technic-price td {
    height: 36px;
}

.technic-price td:first-child,
.technic-price th:first-child {
    width: 288px;
    padding: 0;
    padding-left: 14px;
}

.technic-price td:nth-child(2),
.technic-price th:nth-child(2) {
    width: 125px;
}

.technic-price td:nth-child(3),
.technic-price th:nth-child(3) {
    width: 135px;
}

.technic-price td:last-child,
.technic-price th:last-child {
    width: 154px;
}

.technic-price tr:nth-child(2n-1) {
    background-color: #fff;
}

.statistic {
    background-color: #202e3b;
}

.info {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    width: 320px;
    color: #fff;
    vertical-align: top;
    clear: both;
}

.info h2 {
    margin: 0;
    margin-top: 55px;
    margin-left: 5px;
    font-size: 26px;
    font-weight: normal;
}

.info-list {
    list-style: none;
    padding-left: 0;
}

.info-list li {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #9e9e9e;
}

.info-list span {
    font-size: 38px;
    color: #f1b132;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.recall {
    display: inline-block;
    width: 600px;
    color: #fff;
    vertical-align: top;
    margin-bottom: 53px;
}

.recall h2 {
    margin: 0;
    margin-top: 52px;
    margin-left: -3px;
    margin-bottom: 34px;
    font-size: 26px;
    font-weight: bold;
}

.about-recall-item-1 {
    margin-bottom: 40px;
}

.about-recall-item img {
    display: inline-block;
    margin-right: 20px;
}

.about-recall-item-text {
    width: 445px;
    display: inline-block;
    vertical-align: top;
}

.about-recall-item blockquote {
    margin: 0;
    width: 445px;
    vertical-align: top;
    display: inline-block;
    font-style: italic;
    margin-bottom: 8px;
}

.about-recall-item cite {
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    color: #f1b132;
    font-size: 18px;
}

.map {
    height: 515px;
    position: relative;
}

.map:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 14px;
    background-image: url("../img/Rectangle_5.png");
}


/*...............................................................................................................................................................Portfolio....................................................*/

.portfolio {
    background-image: url("../img/portfolio-port.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 120px;
}

.portfolio h3 {
    color: #ffcd34;
    margin: 0;
    display: inline-block;
    font-size: 24px;
    line-height: 120px;
    vertical-align: middle;
    margin-right: 165px;
}

.portfolio ul {
    list-style: none;
    display: inline-block;
    min-width: 650px;
    font-size: 0;
    margin-right: 0;
    padding-right: 0;
}

.portfolio li {
    display: inline-block;
    font-size: 16px;
    margin-right: 40px;
    color: #fff;
    line-height: 120px;
}

.portfolio li:last-child {
    margin-right: 0;
}

.portfolio a {
    color: #fff;
}

.portfolio a:hover {
    font-weight: bold;
    color: #fff;
}

.portfolio a:focus {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.example {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 111px;
    height: 510px;
}

.example-1 {
    background-image: url("../img/example-1.png");
}

.example-1:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 14px;
    background-color: #000;
}

.example-2 {
    background-image: url("../img/example-2.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.example-2:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 14px;
    background-color: #000;
}

.example-3 {
    background-image: url("../img/example-3.png");
}

.example-3:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 14px;
    background-color: #000;
}

.example-about {
    width: 322px;
    background-color: #fff;
    padding: 30px;
    padding-top: 25px;
}

.example-about p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 16px;
}

.example-about h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
}

.example-about a {
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 37px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #000;
    font-size: 15px;
    background-color: #ffcd34;
}

.example-about a:after {
    content: "";
    top: 11px;
    right: 14px;
    position: absolute;
    width: 13px;
    height: 19px;
    background-image: url("../img/arrow_black.png");
    background-repeat: no-repeat;
}

.call-port {
    position: relative;
    padding-top: 40px;
}

.call-port p {
    margin-bottom: 35px;
}

.call-port:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 14px;
    background-image: url("../img/Rectangle_5.png");
}

.about-port {
    padding-top: 40px;
}

.about-port p:before {
    top: 5px;
}


/*********************************************************************************************************************************************************Сontacts*************************************************************/

.call-cont {
    background-image: url("../img/call-cont-bcgi.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.cont-title {
    color: #ffcd34;
    display: inline-block;
    line-height: 119px;
    font-size: 26px;
    margin: 0;
    margin-right: 10px;
}

.call-cont p {
    display: inline-block;
    line-height: 119px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    margin-right: 303px;
}

.call-cont:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 14px;
    background-image: linear-gradient(135deg, #ffcd34 35%, black 35%, black 60%, #FFCD34 60%);
    background-size: 20px 18px;
}

.get-consult-cont {
    display: inline-block;
    line-height: 119px +;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    padding: 7px 20px 14px;
    background-color: #ffcd34;
}

.contacts {
    padding-top: 40px;
    background: #f3f3f3;
}

.map-adress {
    display: inline-block;
    width: 65%;
    height: 400px;
    border: 1px solid #d5d5d5;
    margin-bottom: 42px;
}

.contacts-info {
    float: right;
    width: 32%;
    margin-bottom: 42px;
}

.contacts-info p {
    display: block;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.contacts-info .phone,
.contacts-info .email {
    font-size: 18px;
    height: 40px;
    padding-left: 40px;
    font-weight: bold;
}

.contacts-info .phone {
    margin-top: -10px;
}

.contacts-info .email {
    margin-bottom: 10px;
}

.contacts-info input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.contacts-info textarea {
    margin: 0;
}

.contacts-info button {
    background: #354b60;
    font-size: 18px;
    width: 100%;
    min-height: 45px;
}

.review-main {
    padding-top: 27px;
}

.review-main .title {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 27px;
}

.review-main .review {
    display: inline-block;
    width: 215px;
    margin-right: 2.25%;
    margin-bottom: 62px;
    text-align: center;
}

.review-main .review-4 {
    margin-right: 0;
}

.review img {
    margin-bottom: 17px;
}

.review blockquote {
    margin: 0;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.review cite {
    font-size: 14px;
    color: #202e3b;
    font-weight: bold;
}


/*
.contacts-info .phone:before{
    content: "";
    position: absolute;
    top: 1;
    left: 1;
    height: 20px;
    width: 20px;
    background-image: url(../img/call-cont-phone-icon.png);
    background-repeat: no-repeat;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
}

.contacts-info .email:before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../img/call-cont-email-icon.png");
    -webkit-background-size: 23px 17px;
    background-size: 23px 17px;
}
*/


/*************************************************************************************************************************************************************Католог**********************************************************/

.catolog-consult {
    background-image: url(../img/catolog-consult.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 45px;
}

.catolog-consult-info {
    display: block;
    float: left;
    width: 605px;
}

.catolog-consult-title {
    color: #ffcd34;
    font-size: 26px;
    margin: 0;
    margin-bottom: 11px;
}

.catolog-consult-about {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.zakaz {
    float: right;
    width: 242px;
}

.catolog-cons {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 22px;
    text-decoration: none;
    color: #000;
    margin-bottom: 14px;
    background-color: #ffcd34;
    display: block;
}

.catalog-consult-council {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.catolog {
    background-color: #f3f3f3;
    padding: 0;
    padding-top: 25px;
}

.catalog-asside {
    display: block;
    float: left;
    width: 222px;
}

.catolog-title {
    margin: 0;
    display: block;
    clear: both;
    margin-bottom: 29px;
    padding-left: 47px;
}

.catolog-technic {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-bottom: 22px;
}

.catolog-technic a {
    color: #353535;
}

.catolog-technic li {
    margin-bottom: 18px;
}

.downlowd {
    display: block;
    padding: 0;
    margin: 0;
    padding: 10px 20px;
    background-color: #354b60;
    color: #fff;
    text-decoration: none;
}

.container-item {
    width: 242px;
    height: 342px;
    margin: auto auto;
}

.catolog-items {
    display: block;
    float: right;
    width: 620px;
}

.catolog-items div:nth-last-of-type(2) {
    margin-bottom: 50px;
}

.catolog-item,
.discount-item {
    width: 300px;
    height: 400px;
    margin: 0;
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 34px;
}

.catolog-item-1 {
    display: block;
    float: left;
    margin-bottom: 20px;
}

.catolog-item-2 {
    display: block;
    float: right;
    margin-bottom: 20px;
}

.catolog-item-3 {
    display: block;
    float: left;
}

.catolog-item-4 {
    display: block;
    float: right;
}

.item-title,
.discount-item-title {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 32px;
    width: 200px;
}

.item-photo,
.discount-item-photo {
    padding-bottom: 25px;
    margin-left: 15px;
}

.item-price,
.discount-item-price {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 17px;
}

.item-price span {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
}

.catolog-rent,
.item-more,
.discount-catolog-rent,
.discount-item-more {
    width: 120px;
    height: 36px;
    display: block;
    float: left;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    padding-top: 5px;
}

.catolog-rent,
.discount-catolog-rent {
    background-color: #f3c331;
    color: #fff;
    font-size: 16px;
}

.item-more,
.discount-item-more {
    background-color: #354b60;
    color: #fff;
    font-size: 16px;
}

.catolog-paginator {
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    width: 120px;
    height: 22px;
    vertical-align: middle;
    text-align: center;
    clear: both;
    margin-bottom: 46px;
}

.catolog-paginator a {
    display: inline-block;
    width: 21px;
    height: 21px;
    font-size: 16px;
    margin-right: 9px;
    width: 21px;
    height: 21px;
    color: #353535;
    text-decoration: none;
}

.catolog-paginator a:last-child {
    margin-right: 0;
}

.catolog-paginator a:focus {
    background-color: #354b60;
    color: #fff;
    border-radius: 5px;
}

.discounts {
    background-image: url(../img/discount-bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    padding-bottom: 50px;
}

.discounts-title {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 20px;
}

.discount-item {
    padding-top: 17px;
    position: relative;
}

.discount-item-1 {
    display: block;
    float: left;
    margin-right: 20px;
}

.discount-item-1 .discount-item-title:after {
    content: "";
    position: absolute;
    top: 70px;
    right: 70px;
    background-image: url("../img/catolog-sale.png");
    background-repeat: no-repeat;
}

.discount-item-2 {
    display: block;
    float: left;
    margin-right: 20px;
}

.discount-item-3 {
    display: block;
    float: left;
}

.discount-item-photo {
    padding-bottom: 35px;
}

.new-price {
    text-decoration: line-through;
    color: #d12222;
    font-size: 22px;
    margin-right: 17px;
}